:root {
  --var-font-1: 10px;
  --var-font-2: 11px;
  --var-font-3: 12px;
  --var-font-4: 13px;
  --var-font-5: 14px;
  --var-font-6: 14px;
  --var-font-7: 14px;
  --var-font-8: 16px;
  --var-font-9: 18px;
  --var-font-10: 20px;
  --var-font-11: 22px;
  --var-font-12: 25px;
  --var-font-13: 30px;
  --var-font-14: 35px;
}


@media screen and (max-width: 500px) {
  .page {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }
}

.no-wrap {
  text-wrap: unset;
}

.w90 {
  width: 100%;
}

.m-l-50 {
  margin-left: 20px;
  margin-right: 20px;
}

.b-point {
  left: -20px;
}

.arrow {
  left: -20px;
}
