:root {
  --debug-border-size: 0px;
  --only-display-last-page: flex; /* none | flex */
  --bitcoin-orange: rgb(245, 148, 50);
  --bitcoin-orange-link: rgb(217, 112, 13);
  --nostr-purple: #8D45DD;

  --var-font-1: 10px;
  --var-font-2: 11px;
  --var-font-3: 12px;
  --var-font-4: 13px;
  --var-font-5: 14px;
  --var-font-6: 16px;
  --var-font-7: 18px;
  --var-font-8: 20px;
  --var-font-9: 22px;
  --var-font-10: 25px;
  --var-font-11: 30px;
  --var-font-12: 35px;
  --var-font-13: 40px;
  --var-font-14: 45px;
}

@import "avenir-next/stylesheet.css";

@font-face {
  font-family: 'ff1';
  src: url('fonts/ff1.woff') format('woff');
}

.dotdot {
  display: flex;
  flex: 1;
  height: 15px;
  margin: 0 8px;
  background-image: radial-gradient(circle, black 1px, transparent 1px);
  background-size: 4px 4px;
  background-position: bottom;
  background-repeat: repeat-x;
}

.nostr-purple {
  color: var(--nostr-purple);
}

.orange-paren {
  font-size: 231px;
  color: var(--bitcoin-orange);
  font-weight: 100;
  line-height: 0.8 !important;
}

.border-box {
  --border-box-expand-right: 0px;
  --border-box-expand-left: 0px;
  --border-box-expand-top: 0px;
  --border-box-expand-bottom: 0px;
  --border-color: black;
  position: relative;
}

.border-box.orange {
  --border-color: var(--bitcoin-orange);
}

.border-box.purple {
  --border-color: var(--nostr-purple);
}

.bb-expand-right-10 {
  --border-box-expand-right: 10px;
}

.bb-expand-right-25 {
  --border-box-expand-right: 25px;
}

.bb-expand-right-50 {
  --border-box-expand-right: 50px;
}

.bb-expand-left-25 {
  --border-box-expand-left: 25px;
}

.bb-expand-left-40 {
  --border-box-expand-left: 40px;
}

.bb-expand-left-50 {
  --border-box-expand-left: 50px;
}

.bb-expand-top-5 {
  --border-box-expand-top: 5px;
}

.bb-expand-bottom-5 {
  --border-box-expand-bottom: 5px;
}

.border-box::before {
  content: '';
  position: absolute;
  top: calc(-18px + var(--border-box-expand-top) * -1);
  left: calc(var(--border-box-expand-left) * -1);
  right: calc(var(--border-box-expand-right) * -1);
  bottom: calc(-18px + var(--border-box-expand-bottom) * -1);
  border: 3px solid var(--border-color);
  pointer-events: none;
}

.orange-lines {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 3px solid var(--bitcoin-orange);
  border-bottom: 3px solid var(--bitcoin-orange);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 50px;
}

.orange-lines div.b-point {
  top: 2px;
  left: 20px;
}

.white-paper {
  font-family: serif, 'Times New Roman';
  font-size: var(--var-font-2);
  letter-spacing: unset !important;
  word-spacing: unset !important;
}

.white-paper b {
  font-weight: 600;
}

.white-paper .b {
  font-weight: 600;
}

.white-paper span.indent {
  text-indent: 20px;
}

.white-paper .header {
  flex-grow: 0;
}

.white-paper .footer {
  flex-grow: 0;
}

.font-an {
  font-family: 'Avenir Next Cyr';
  font-size: var(--var-font-5);
  font-weight: 400;
  word-spacing: 3px;
  letter-spacing: 0.3px;
  --line-height: 1.15;
}

.font-ff1 {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 1.2px;
  word-spacing: 0.5px;
  font-size: var(--var-font-6);
  --line-height: 1.15;
}

.fw-800 {
  font-weight: 800;
}

.fs-10 {
  font-size: var(--var-font-1);
}

.fs-11 {
  font-size: var(--var-font-2);
}

.fs-12 {
  font-size: var(--var-font-3);
}

.fs-13 {
  font-size: var(--var-font-4);
}

.fs-14 {
  font-size: var(--var-font-5);
}

.fs-16 {
  font-size: var(--var-font-6);
}

.fs-18 {
  font-size: var(--var-font-7);
}

.fs-20 {
  font-size: var(--var-font-8);
}

.fs-22 {
  font-size: var(--var-font-9);
}

.fs-25 {
  font-size: var(--var-font-10);
}

.fs-30 {
  font-size: var(--var-font-11);
}

.fs-35 {
  font-size: var(--var-font-12);
}

.fs-40 {
  font-size: var(--var-font-13);
}

.fs-45 {
  font-size: var(--var-font-14);
}

body, html {
  font-family: 'ml';
  font-size: var(--var-font-6);
  font-weight: 800;
  color: #000;
  background-color: #fff;
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  color: #000;
  text-decoration: underline;
}

.tdn {
  text-decoration: none;
}

b {
  font-weight: 500;
}

img {
  border: var(--debug-border-size) solid blue;
}

ol.default {
  display: flex;
  flex-direction: column;
  padding: 0 5px 0 30px;
  margin: 0;
}

ol.white-paper {
  list-style-type: none;
  padding-inline-start: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;

  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border: var(--debug-border-size) solid slateblue;
}

.page:not(:last-child) {
  display: var(--only-display-last-page);
}

.flex-grow {
  display: flex !important;
  flex-grow: 1;
}

.flex-row {
  display: flex !important;
  flex-direction: row !important;
}

.flex-col {
  display: flex !important;
  flex-direction: column !important;
}


.header {
  display: flex;
  align-items: center;
  font-size: var(--var-font-5);
  border: var(--debug-border-size) solid green;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  border: var(--debug-border-size) solid green;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: var(--debug-border-size) solid blue;
}

.page-number {
  text-align: center;
  padding: 10px 0;
}

.block {
  display: block;
}

.inline {
  display: inline !important;
}

.inline-flex {
  display: inline-flex !important;
}

.w70 {
  width: 70%;
}

.w80 {
  width: 80%;
}

.w90 {
  width: 90%;
}

.w100 {
  width: 100%;
}

.no-wrap {
  text-wrap: nowrap;
}

.gap0 {
  gap: 0px;
}

.gap2 {
  gap: 2px;
}

.gap5 {
  gap: 5px;
}

.gap10 {
  gap: 10px;
}

.gap15 {
  gap: 15px;
}

.gap20 {
  gap: 20px;
}

.gap25 {
  gap: 25px;
}

.gap50 {
  gap: 50px;
}

.t-a-r {
  text-align: right !important;
}

.t-a-j {
  text-align: justify;
}

.t-a-c {
  text-align: center;
}

.ail {
  align-items: flex-start;
}

.aic {
  align-items: center;
}

.air {
  align-items: flex-end;
}

.jcr {
  justify-content: flex-end;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcl {
  justify-content: flex-start;
}

.p {
  border: var(--debug-border-size) solid #000;
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  width: fit-content;
  border: var(--debug-border-size) solid red;
  line-height: var(--line-height);
  gap: 5px;
}

.i {
  font-style: italic;
}

.b {
  font-weight: 500;
}

.block-quote {
  display: flex;
  flex-direction: column;
  border-right: 3px solid var(--bitcoin-orange);
  padding-right: 5px;
  line-height: var(--line-height);
}

.block-quote.purple {
  border-right: 3px solid var(--nostr-purple);
}

.block-quote.left {
  display: flex;
  flex-direction: column;
  border-right: none;
  border-left: 3px solid var(--bitcoin-orange);
  padding-left: 5px;
  line-height: var(--line-height);
}

.monospace {
  font-family: 'Courier New', Courier, monospace;
}

.b-l {
  background-image: url("../images/bitcoin-logo.png");
  background-size: contain;
}

.n-l {
  background-image: url("../images/nostr-logo.png");
  background-size: contain;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-l-20 {
  padding-left: 20px;
}

.m-10 {
  margin: 10px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-30 {
  margin-right: 30px; 
}

.m-r-50 {
  margin-right: 50px; 
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-25 {
  margin-left: 25px;
}

.m-l-35 {
  margin-left: 35px;
}

.m-l-50 {
  margin-left: 50px;
}

.m-l-60 {
  margin-left: 60px;
}

.m-l-70 {
  margin-left: 70px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-b-100 {
  margin-bottom: 100px;
}

.w-h-45 {
  width: 45px;
  height: 45px;
}

.w-h-30 {
  width: 30px;
  height: 30px;
}

.w-h-25 {
  width: 25px;
  height: 25px;
}

.w-h-20 {
  width: 20px;
  height: 20px;
}

.w-h-18 {
  width: 18px;
  height: 18px;
}

.w-h-16 {
  width: 16px;
  height: 16px;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.t0 {
  top: 0px !important; 
}

.arrow {
  background-image: url("../images/arrow.png");
  background-size: contain;
  position: absolute;
  top: -1px;
  left: -25px;
}

.b-logo-transparent {
  background-image: url("../images/bitcoin-logo-transparent.png");
  background-size: contain;
  position: absolute;
  top: -7px;
  left: -30px;
}

img.b-logo-transparent-20 {
  vertical-align: -7px;
  margin-right: -12px;
  margin-left: -4px;
  width: 25px;
  height: 25px;
}

.b-point {
  background-image: url("../images/bitcoin-logo.png");
  background-size: contain;
  position: absolute;
  top: -2px;
  left: -25px;
}

.n-point {
  background-image: url("../images/nostr-logo.png");
  background-size: contain;
  position: absolute;
  top: -2px;
  left: -25px;
}

.shadow {
  --stroke-width: 1px;
  z-index: 1;
  font-weight: 500;
  text-shadow: 
    calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0 var(--stroke-color), 
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0 var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0 var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0 var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color);
}

.shadow.orange {
  --stroke-color: var(--bitcoin-orange);
}

.shadow.purple {
  /*--stroke-color: var(--nostr-purple);*/
  /*color: rgb(49, 49, 49);*/
  color: purple;
  text-shadow: 1px 1px 0 var(--nostr-purple);
}

.hidden {
  display: none;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.table-w-header {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--var-font-4);
}

.table-w-header th,
.table-w-header td {
  border: 1px solid black;
  padding: 2px 4px 2px 4px;
  text-align: left;
  text-wrap: nowrap;
}

.table-w-header td.text-center {
  text-align: center;
}

.table-w-header th {
  font-weight: 500;
  height: 35px;
  text-align: center;
}

.table-w-header.first-col-bold td:first-child {
  font-weight: 500;
}

.table-w-header.rest-rows-padding tr:not(:first-child) td {
  padding: 4px;
}

.grid-container {
  display: grid;
  gap: 10px;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}